* {
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

*::before,
*::after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  position: relative;
}

.container {
  /* height: 100vh; */
  /* display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; */
  max-width: 600px;
  margin: 0 auto;
}
