.game {
  margin-bottom: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.game__row {
  margin-bottom: 2px;
  display: flex;
}
.game__row:last-child {
  margin-bottom: 0px;
}
